*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  /*reset default font-size*/
  font-size: 62.5%;
}

body {
  /*Reset to original font size*/
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

button {
  border-radius: 5px;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: transform 5ms ease-in-out;
}

button:active {
  transform: translateY(5px);
}

*:focus {
  outline: 1px solid invert;
}
