*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  /*reset default font-size*/
  font-size: 62.5%;
}

body {
  /*Reset to original font size*/
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: rgb(3, 3, 3);
  color: #fff;
}

button {
  border-radius: 5px;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: transform 50ms ease-in-out;
  background-color: transparent;
  color: #fff;
  font-size: 1.8rem;
}

button:active {
  transform: translateY(5px) scale(0.7);
}

*:focus {
  outline: 1px solid invert;
}
